<a href="https://colab.research.google.com/github/WahlerP/csfundamentals-hsg/blob/master/code00_Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Jupyter Notebook is based on [How to Get Started With Python?](https://www.programiz.com/python-programming/first-program)

# Your first Python Program

Let's create a very simple program called "Hello World!".  A "Hello, World!" is a simple program that outputs Hello, World! on the screen. Since it's a very simple program, it's often used to introduce a new programming language to a newbie.

In [0]:
print("Hello world!")

Hello world!

# Keywords and Identifiers

## Python Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are `33` keywords in Python 3.7. This number can vary slightly in the course of time.

All the keywords except `True`, `False` and `None` are in lowercase and they must be written as it is. The list of all the keywords is given below.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-baqh" colspan="5">Keywords in Python</th>
  </tr>
  <tr>
    <td class="tg-0pky">False</td>
    <td class="tg-0pky">class</td>
    <td class="tg-0pky">finally</td>
    <td class="tg-0pky">is</td>
    <td class="tg-0pky">return</td>
  </tr>
  <tr>
    <td class="tg-0pky">None</td>
    <td class="tg-0pky">continue</td>
    <td class="tg-0pky">for</td>
    <td class="tg-0pky">lambda</td>
    <td class="tg-0pky">try</td>
  </tr>
  <tr>
    <td class="tg-0pky">True</td>
    <td class="tg-0pky">def</td>
    <td class="tg-0pky">from</td>
    <td class="tg-0pky">nonlocal</td>
    <td class="tg-0pky">while</td>
  </tr>
  <tr>
    <td class="tg-0pky">and</td>
    <td class="tg-0pky">del</td>
    <td class="tg-0pky">global</td>
    <td class="tg-0pky">not</td>
    <td class="tg-0pky">with</td>
  </tr>
  <tr>
    <td class="tg-0pky">as</td>
    <td class="tg-0pky">elif</td>
    <td class="tg-0pky">if</td>
    <td class="tg-0pky">or</td>
    <td class="tg-0pky">yield</td>
  </tr>
  <tr>
    <td class="tg-0pky">assert</td>
    <td class="tg-0pky">else</td>
    <td class="tg-0pky">import</td>
    <td class="tg-0pky">pass</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">break</td>
    <td class="tg-0pky">except</td>
    <td class="tg-0pky">in</td>
    <td class="tg-0pky">raise</td>
    <td class="tg-0pky"></td>
  </tr>
</table>

## Python Identifiers

### Rules for writing identifiers

1. dentifiers can be a combination of letters in lowercase **(a to z)** or uppercase **(A to Z)** or digits **(0 to 9)** or an 
underscore `_`. Names like `myClass`, `var_1` and `print_this_to_screen`, all are valid example.

2. An identifier cannot start with a digit. `1variable` is invalid, but `variable1` is perfectly fine.

3. Keywords cannot be used as identifiers.

In [0]:
global = 1

SyntaxError: invalid syntax (<ipython-input-1-3d177345d6e4>, line 1)

4. We cannot use special symbols like **!, @, #, $, \%** etc. in our identifier.

In [0]:
a@ = 0

SyntaxError: invalid syntax (<ipython-input-2-4d4a0e714c73>, line 1)

5. Identifier can be of any length.

### Things to Remember

Python is a case-sensitive language. This means, `Variable` and `variable` are not the same. Always name identifiers that make sense.

While, c = 10 is valid. Writing count = 10 would make more sense and it would be easier to figure out what it does even when you look at your code after a long gap.

Multiple words can be separated using an underscore, this_is_a_long_variable.

# Statement, Indentation and Comments

## Statement

Instructions that a Python interpreter can execute are called statements. For example, `a = 1` is an assignment statement. `if` statement, `for` statement, `while` statement etc. are other kinds of statements which will be discussed later.

## Multi-line statement
In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (`\``). For example:

In [0]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

This is explicit line continuation. In Python, line continuation is implied inside parentheses `(` `)`, brackets  `[` `]` and braces  `{` `}`. For instance, we can implement the above multi-line statement as

In [0]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)

Here, the surrounding parentheses `(` `)` do the line continuation implicitly. Same is the case with `[` `]`  and  `{` `}`. For example:

In [0]:
colors = ['red',
          'blue',
          'green']

We could also put multiple statements in a single line using semicolons, as follows

a = 1; b = 2; c = 3

## Python Indentation

Most of the programming languages like C, C++, Java use braces `{` `}` to define a block of code. Python uses indentation.

A code block (body of a `function`, `loop` etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs. Here is an example.

In [0]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

The enforcement of indentation in Python makes the code look neat and clean. This results into Python programs that look similar and consistent.

# Variables, Constants and Literals

In this section, you will learn about Python variables, constants, literals and their use cases.

## Variables

A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data which can be changed later throughout programming. For example,

number = 10

Here, we have created a named `number`. We have assigned value `10` to the variable.

You can think variable as a bag to store books in it and those books can be replaced at any time.

In [0]:
number = 10
number = 1.1

Initially, the value of number was `10`. Later it's changed to `1.1`.

Note: In Python, we don't assign values to the variables, whereas Python gives the reference of the object (value) to the variable.

### Assigning a value to a Variable in Python

As you can see from the above example, you can use the assignment operator `=` to assign a value to a variable.

**Example 1: Declaring and assigning a value to a variable**

In [0]:
website = "apple.com"
print(website)

apple.com

In the above program, we assigned a value `apple.com` to the variable website. Then we print the value assigned to `website` i.e. `apple.com`

Note : Python is a **type inferred** language; it can automatically know `apple.com` is a string and declare `website` as a string.

**Example 2: Changing the value of a variable**

In [0]:
website = "apple.com"
print(website)

# assigning a new variable to website
website = "programiz.com"

print(website)

apple.com
programiz.com

In the above program, we have assigned `apple.com` to the website variable initially. Then, it's value is changed to `programiz.com`.

**Example 3: Assigning multiple values to multiple variables**

In [0]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

If we want to assign the same value to multiple variables at once, we can do this as

In [0]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

The second program assigns the same string to all the three variables `x`, `y` and `z`.

## Constants

A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

Non technically, you can think of constant as a bag to store some books and those books cannot be replaced once placed inside the bag.

### Assigning value to a constant in Python

In Python, constants are usually declared and assigned on a module. Here, the module means a new file containing variables, functions etc which is imported to main file. Inside the module, constants are written in all capital letters and underscores separating the words.

## Rules and Naming Convention for Variables and constants

1. Constant and variable names should have a combination of letters in lowercase `(a to z)` or uppercase `(A to Z)` or digits `(0 to 9)` or an underscore `_`. For example:

In [0]:
snake_case = "text"
MACRO_CASE = "text"
camelCase = "text"
CapWords = "text"

2. Create a name that makes sense. For example, `vowel` makes more sense than `v`.
3.  If you want to create a variable name having two words, use underscore to separate them. For example:

In [0]:
my_name = "text"
current_salary = "text"

4. Use capital letters possible to declare a constant. For example:

In [0]:
PI = 3.14
G = 9.8 
MEANING_OF_LIFE = 42
SPEED_OF_LIGHT = 299792458
TEMP = 5

5. Never use special symbols like **!, @, \#, \$, \%,** etc.
6. Don't start a variable name with a digit.

## Literals

Literal is a raw data given in a variable or constant. In Python, there are various types of literals they are as follows:

### Numeric Literals

Numeric Literals are immutable (unchangeable). Numeric literals can belong to 3 different numerical types Integer, Float, and Complex.

**Example: How to use Numeric literals in Python?**

In [0]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In the above program,

- We assigned integer literals into different variables. Here, `a` is binary literal, `b` is a decimal literal, `c` is an octal literal and `d` is a hexadecimal literal.
- When we print the variables, all the literals are converted into decimal values.
- 10.5 and 1.5e2 are floating-point literals. 1.5e2 is expressed with exponential and is equivalent to `1.5 * 102`.
- We assigned a complex literal i.e 3.14j in variable x. Then we use imaginary literal (x.imag) and real literal (x.real) to create imaginary and real part of complex number.

### String literals

A string literal is a sequence of characters surrounded by quotes. We can use both single, double or triple quotes for a string. And, a character literal is a single character surrounded by single or double quotes.

**Example : How to use string literals in Python?**

In [0]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In the above program,`This is Python` is a string literal and `C` is a character literal. The value with triple-quote `"` `"` `"` assigned in the `multiline_str` is multi-line string literal. The `u"\u00dcnic\u00f6de"` is a unicode literal which supports characters other than English and `r"raw \n string"` is a raw string literal.

### Boolean literals

A Boolean literal can have any of the two values: `True` or `False`.

**Example: How to use boolean literals in Python?**

In [0]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In the above program, we use boolean literal `True` and `False`. In Python, `True` represents the value as `1` and `False` as `0`. The value of `x` is `True` because `1` is equal to `True`. And, the value of `y` is `False` because `1` is not equal to `False`.

Similarly, we can use the `True` and `False` in numeric expressions as the value. The value of `a` is `5` because we add `True` which has value of `1` with `4`. Similarly, `b` is `10` because we add the `False` having value of `0` with `10`.

### Special literals

Python contains one special literal i.e. None. We use it to specify to that field that is not created.

In [0]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

In the above program, we define a `menu` function. Inside `menu`, when we set parameter as `drink` then, it displays `Available`. And, when the parameter is `food`, it displays `None`.

### Literal Collections

There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

**Example: How to use literals collections in Python?**

In [0]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'o', 'e', 'u', 'i'}

In the above program, we created a list of `fruits`, tuple of `numbers`, dictionary `dict` having values with keys desginated to each value and set of `vowels`.

# Data Types

In this section, you will learn about different data types you can use in Python.

## Data types in Python

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

### Python Numbers

Integers, floating point numbers and complex numbers falls under *Python numbers* category. They are defined as `int`, `float` and `complex` class in Python.

We can use the `type()` function to know which class a variable or a value belongs to and the `isinstance()` function to check if an object belongs to a particular class.

In [0]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

Integers can be of any length, it is only limited by the memory available.

A floating point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. `1` is integer, `1.0` is floating point number.

Complex numbers are written in the form, `x + yj`, where `x` is the real part and `y` is the imaginary part. Here are some examples.

In [0]:
a = 1234567890123456789
print(a)

1234567890123456789

In [0]:
b = 0.1234567890123456789
print(b)

0.12345678901234568

In [0]:
c = 1+2j
print(c)

(1+2j)

Notice that the `float` variable `b` got truncated.

### Python List

`List` is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets `[` `]`.

In [0]:
a = [1, 2.2, 'python']

We can use the slicing operator `[` `]`` to extract an item or a range of items from a list. Index starts form 0 in Python.

In [0]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

Lists are mutable, meaning, value of elements of a list can be altered.

In [0]:
a = [1,2,3]
a[2]=4
print(a)

[1, 2, 4]

### Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses `()` where items are separated by commas.

In [0]:
t = (5,'program', 1+3j) 
print(t)

(5, 'program', (1+3j))

We can use the slicing operator `[` `]` to extract items but we cannot change its value.

In [0]:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

In [0]:
# Generates error
# Tuples are immutable
t[0] = 10

TypeError: 'tuple' object does not support item assignment

### Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, \' \' \' or \" \" \".

In [0]:
s = "This is a string"
s = '''a multiline
dumdiedum lalala '''

Like list and tuple, slicing operator `[` `]` can be used with string. Strings are immutable.

In [0]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

s[4] =  o
s[6:11] =  world

In [0]:
# Generates error
# Strings are immutable in Python
s[5] ='d'

TypeError: 'str' object does not support item assignment

### Python Set

`Set` is an unordered collection of unique items. Set is defined by values separated by comma inside braces `{` `}`. Items in a set are not ordered.

In [0]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values. They eliminate duplicates.

In [0]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Since, set are unordered collection, indexing has no meaning. Hence the slicing operator `[` `]` does not work.

In [0]:
a = {1,2,3}
print(a[1])

TypeError: 'set' object does not support indexing

### Python Dictionary

`Dictionary` is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces `{` `}` with each item being a pair in the form `key:value`. Key and value can be of any type.

In [0]:
d = {1:'value','key':2}
type(d)

dict

We use key to retrieve the respective value. But not the other way around.

In [0]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [0]:
# Generates error
print("d[2] = ", d[2]);

KeyError: 2

### Conversion between data types

We can convert between different data types by using different type conversion functions like `int()`, `float()`, `str()` etc.

In [0]:
float(5)

5.0

Conversion from float to int will truncate the value (make it closer to zero).

In [0]:
int(10.6)

10

In [0]:
int(-10.6)

-10

Conversion to and from string must contain compatible values.

In [0]:
float('2.5')

2.5

In [0]:
str(25)

'25'

In [0]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

We can even convert one sequence to another.

In [0]:
set([1,2,3])

{1, 2, 3}

In [0]:
tuple({5,6,7})

(5, 6, 7)

In [0]:
list('hello')

['h', 'e', 'l', 'l', 'o']

To convert to dictionary, each element must be a pair

In [0]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [0]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}

# Type Conversion and Type Casting

In this article you will learn about the Type conversion and uses of type conversion.

## Type Conversion:

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

1. Implicit Type Conversion
2. Explicit Type Conversion

## Implicit Type Conversion:

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.
Let's see an example where Python promotes conversion of lower datatype (integer) to higher data type (float) to avoid data loss.

**Example : Converting integer to float**

In [0]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In the above code,

* We add two variables `num_int` and `num_flo`, storing the value in `num_new`.
* We will look at the data type of all three objects respectively.
* In the output we can see the datatype of `num_int` is an `integer`, datatype of `num_flo` is a `float`.
* Also, we can see the `num_new` has `float` data type because Python always converts smaller data type to larger data type to avoid the loss of data.


Now, let's try adding a string and an integer, and see how Python treats it.

**Example: Addition of string(higher) data type and integer(lower) datatype**

In [0]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In the above program,

* We add two variable `num_int` and `num_str`.
* As we can see from the output, we got `typeerror`. Python is not able use Implicit Conversion in such condition.
* However Python has the solution for this type of situation which is know as Explicit Conversion.

## Explicit Type Conversion:

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like `int()`, `float()`, `str()`, etc to perform explicit type conversion.
This type conversion is also called typecasting because the user casts (change) the data type of the objects.
Syntax :
```
(required\_datatype)(expression)
```

Typecasting can be done by assigning the required data type function to the expression.

**Example: Addition of string and integer using explicit conversion**

In [0]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In above program,

* We add `num_str` and `num_int` variable.
* We converted `num_str` from string(higher) to integer(lower) type using `int()` function to perform the addition.
* After converting `num_str` to a integer value Python is able to add these two variable.
* We got the `num_sum` value and data type to be integer.

## Key Points to Remember:

1. Type Conversion is the conversion of object from one data type to another data type.
2. Implicit Type Conversion is automatically performed by the Python interpreter.
3. Python avoids the loss of data in Implicit Type Conversion.
4. Explicit Type Conversion is also called Type Casting, the data types of object are converted using predefined function by user.
5. In Type Casting loss of data may occur as we enforce the object to specific data type.

# Input, Output and Import

This tutorial focuses on two built-in functions print() and input() to perform I/O task in Python. Also, you will learn to import modules and use them in your program.


Python provides numerous built-in functions that are readily available to us at the Python prompt.

Some of the functions like `input()` and `print()` are widely used for standard input and output operations respectively. Let us see the output section first.

## Python Output Using print() function

We use the `print()` function to output data to the standard output device (screen).

We can also output data to a file, but this will be discussed later. An example use is given below.

In [0]:
print('This sentence is output to the screen')
# Output: This sentence is output to the screen

a = 5

print('The value of a is', a)
# Output: The value of a is 5

This sentence is output to the screen
The value of a is 5

In the second print() statement, we can notice that a space was added between the string and the value of variable `a`. This is by default, but we can change it.

The actual syntax of the `print()` function is

```
print(\*objects, sep=' ', end='\\n', file=sys.stdout, flush=False)

```

Here, `objects` is the value(s) to be printed.
The `sep` separator is used between the values. It defaults into a space character.
After all values are printed, `end` is printed. It defaults into a new line.

`The file` is the object where the values are printed and its default value is `sys.stdout` (screen). Here are an example to illustrate this.

In [0]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4&

1 2 3 4
1*2*3*4
1#2#3#4&

### Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the `str.format()` method. This method is visible to any string object.

In [0]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

Here the curly braces `{` `}` are used as placeholders. We can specify the order in which it is printed by using numbers (tuple index).

In [0]:
print('I love {0} and {1}'.format('bread','butter'))
# Output: I love bread and butter

print('I love {1} and {0}'.format('bread','butter'))
# Output: I love butter and bread

I love bread and butter
I love butter and bread

We can even use keyword arguments to format the string.

In [0]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

We can even format strings like the old `sprintf()` style. We use the `%` operator to accomplish this.

In [0]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

## Python Input

Up till now, our programs were static. The value of variables were defined or hard coded into the source code.
To allow flexibility we might want to take the input from the user. In Python, we have the `input()` function to allow this. The syntax for `input()` is

```
input(\[prompt\])

```

where `prompt` is the string we wish to display on the screen. It is optional.

In [0]:
num = input('Enter a number: ')
print(num)

Enter a number:  4

4

Here, we can see that the entered value `10` is a string, not a number. To convert this into a number we can use `int()` or `float()` functions.

In [0]:
int('10')

10

In [0]:
float('10')

10.0

This same operation can be performed using the `eval()` function. But it takes it further. It can evaluate even expressions, provided the input is a string

In [0]:
int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

In [0]:
eval('2+3')

5

## Python Import

When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements.`Python modules` have a filename and end with the extension`.py`.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the `import` keyword to do this.
For example, we can import the `math` module by typing in `import math`.

In [0]:
import math
print(math.pi)

3.141592653589793

Now all the definitions inside `math` module are available in our scope. We can also import some specific attributes and functions only, using the `from` keyword. For example:

In [0]:
from math import pi
print(pi)

3.141592653589793

While importing a module, Python looks at several places defined in `sys.path`. It is a list of directory locations.

In [0]:
import sys
sys.path

['',
 '/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.6/dist-packages/IPython/extensions',
 '/home/user/.ipython']

# Operators

In this section, you'll learn everything about different types of operators in Python, their syntax and how to use them with examples.

## What are operators in python?

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.
For example:

In [0]:
2+3

5

Here, `+` is the operator that performs addition. `2` and `3` are the operands and `5` is the output of the operation.

## Arithmetic operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.



| Operator | Meaning                                                                                          | Example                   |
| -------- | ------------------------------------------------------------------------------------------------ | ------------------------- |
| +        | Add two operands or unary plus                                                                   | x + y                     |
| +2       |                                                                                                  |                           |
| -        | Subtract right operand from the left or unary minus                                              | x - y                     |
| -2       |                                                                                                  |                           |
| \*       | Multiply two operands                                                                            | x \* y                    |
| /        | Divide left operand by the right one (always results into float)                                 | x / y                     |
| %        | Modulus - remainder of the division of left operand by the right                                 | x % y (remainder of x/y)  |
| //       | Floor division - division that results into whole number adjusted to the left in the number line | x // y                    |
| \*\*     | Exponent - left operand raised to the power of right                                             | x\*\*y (x to the power y) |

***Example: Arithmetic operators in Python***

In [0]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

Comparison operators are used to compare values. It either returns True or False according to the condition.

| Operator | Meaning                                                                               | Example   |
| -------- | ------------------------------------------------------------------------------------- | --------- |
| >        | Greater than - True if left operand is greater than the right                         | x > y     |
| &lt;     | Less than - True if left operand is less than the right                               | x &lt; y  |
| \\==     | Equal to - True if both operands are equal                                            | x == y    |
| !=       | Not equal to - True if operands are not equal                                         | x != y    |
| >=       | Greater than or equal to - True if left operand is greater than or equal to the right | x >= y    |
| &lt;=    | Less than or equal to - True if left operand is less than or equal to the right       | x &lt;= y |

**Example: Comparison operators in Python**

In [0]:
x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)

# Output: x < y is True
print('x < y  is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

## Logical operators

Logical operators are the `and`, `or`, `not` operators.

| Operator | Meaning                                            | Example |
| -------- | -------------------------------------------------- | ------- |
| and      | True if both the operands are true                 | x and y |
| or       | True if either of the operands is true             | x or y  |
| not      | True if operand is false (complements the operand) | not x   |

**Example: Logical Operators in Python**

In [0]:
x = True
y = False

# Output: x and y is False
print('x and y is',x and y)

# Output: x or y is True
print('x or y is',x or y)

# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

## Bitwise operators

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit, hence the name.

For example, 2 is `10` in binary and 7 is `111`.

**In the table below:** Let `x= 10` (`0000 1010`in binary) and `y = 4` (`0000 0100` in binary)

| Operator | Meaning             | Example                        |     |                      |
| -------- | ------------------- | ------------------------------ | --- | -------------------- |
| &        | Bitwise AND         | x& y = 0 (`0000 0000`)         |     |                      |
|          \|                     | Bitwise OR                     | x   \| y = 14 (`0000 1110`) |
| ~        | Bitwise NOT         | ~x = -11 (`1111 0101`)         |     |                      |
| ^        | Bitwise XOR         | x ^ y = 14 (`0000 1110`)       |     |                      |
| >>       | Bitwise right shift | x>> 2 = 2 (`0000 0010`)        |     |                      |
| &lt;&lt; | Bitwise left shift  | x&lt;&lt; 2 = 40 (`0010 1000`) |     |                      |

## Assignment operators

Assignment operators are used in Python to assign values to variables.
 `a = 5` is a simple assignment operator that assigns the value 5 on the right to the variableaon the left.
There are various compound operators in Python like `a += 5` that adds to the variable and later assigns the same. It is equivalent to `a = a + 5`.

| Operator  | Example       | Equivatent to    |     |       |     |
| --------- | ------------- | ---------------- | --- | ----- | --- |
| \\=       | x = 5         | x = 5            |     |       |     |
| +=        | x += 5        | x = x + 5        |     |       |     |
| -=        | x -= 5        | x = x - 5        |     |       |     |
| \*=       | x \*= 5       | x = x \* 5       |     |       |     |
| /=        | x /= 5        | x = x / 5        |     |       |     |
| %=        | x %= 5        | x = x % 5        |     |       |     |
| //=       | x //= 5       | x = x // 5       |     |       |     |
| \*\*=     | x \*\*= 5     | x = x \*\* 5     |     |       |     |
| &=        | x &= 5        | x = x & 5        |     |       |     |
|           \| =             | x                \| = 5 | x = x \| 5   |
| ^=        | x ^= 5        | x = x ^ 5        |     |       |     |
| >>=       | x >>= 5       | x = x >> 5       |     |       |     |
| &lt;&lt;= | x &lt;&lt;= 5 | x = x &lt;&lt; 5 |     |       |     |

## Special operators

Python language offers some special type of operators like the identity operator or the membership operator. They are described below with examples.

### Identity operators

`is` and `is not` are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

| Meaning | Example                                                                  |               |
| ------- | ------------------------------------------------------------------------ | ------------- |
| is      | True if the operands are identical (refer to the same object)            | x is True     |
| is not  | True if the operands are not identical (do not refer to the same object) | x is not True |

**Example: Identity operators in Python**

In [0]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

Here, we see that `x1` and `y1` are integers of same values, so they are equal as well as identical. Same is the case with `x2` and `y2` (strings).

But `x3` and `y3` are list. They are equal but not identical. It is because interpreter locates them separately in memory although they are equal.

| Operator | Meaning                                             | Example    |
| -------- | --------------------------------------------------- | ---------- |
| in       | True if value/variable is found in the sequence     | 5 in x     |
| not in   | True if value/variable is not found in the sequence | 5 not in x |

**Example: Membership operators in Python**

In [0]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

Here,`'H'` is in `x` but `'hello'` is not present in `x` (remember, Python is case sensitive). Similary, `1` is key and `'a'` is the value in dictionary `y`. Hence, `'a' in y` returns `False`.

# Namespace and Scope

# Python Namespace and Scope

In this section, you will learn about namespace; mapping from names to objects and, scope of a variable.

## What is Name in Python?

If you have ever read 'The Zen of Python' (type "import this" in Python interpreter), the last line states,**Namespaces are one honking great idea -- let's do more of those!** So what are these mysterious namespaces? Let us first look at what name is.

Name (also called identifier) is simply a name given to objects. Everything in Python is an object. Name is a way to access the underlying object.

For example, when we do the assignment `a = 2`, here `2` is an object stored in memory and `a` is the name we associate it with. We can get the address (in RAM) of some object through the built-in function `id()`. Let's check it.

In [0]:
 #Note: You may get different value of id

a = 2
# Output: id(2)= 10919424
print('id(2) =', id(2))

# Output: id(a) = 10919424
print('id(a) =', id(a))

id(2) = 10914528
id(a) = 10914528

Here, both refer to the same object. Let's make things a little more interesting.

In [0]:
# Note: You may get different value of id

a = 2

# Output: id(a) = 10919424
print('id(a) =', id(a))

a = a+1

# Output: id(a) = 10919456
print('id(a) =', id(a))

# Output: id(3) = 10919456
print('id(3) =', id(3))

b = 2

# Output: id(2)= 10919424
print('id(2) =', id(2))

id(a) = 10914528
id(a) = 10914560
id(3) = 10914560
id(2) = 10914528

What is happening in the above sequence of steps? A diagram will help us explain this.

![Memory diagram of a variable](https://cdn.programiz.com/sites/tutorial2program/files/aEquals2.jpg "Memory Diagram")

Initially, an object `2` is created and the name `a` is associated with it, when we do `a = a+1`, a new object `3` is created and now `a` associates with this object.

Note that `id(a)` and `id(3)` have same values.

Furthermore, when we do `b = 2`, the new name `b` gets associated with the previous object `2`.

This is efficient as Python doesn't have to create a new duplicate object. This dynamic nature of name binding makes Python powerful; a name could refer to any type of object.

In [0]:
a = 5
a = 'Hello World!'
a = [1,2,3]

All these are valid and `a` will refer to three different types of object at different instances. Functions are objects too, so a name can refer to them as well.

In [0]:
def printHello():
    print("Hello")
a = printHello()

# Output: Hello
a

Hello

Our same name `a` can refer to a function and we can call the function through it, pretty neat.

## What is a Namespace in Python?

So now that we understand what names are, we can move on to the concept of namespaces.

To simply put it, namespace is a collection of names.

In Python, you can imagine a namespace as a mapping of every name, you have defined, to corresponding objects.

Different namespaces can co-exist at a given time but are completely isolated.

A namespace containing all the built-in names is created when we start the Python interpreter and exists as long we don't exit.

This is the reason that built-in functions like `id()`, `print()` etc. are always available to us from any part of the program. Each module creates its own global namespace.

These different namespaces are isolated. Hence, the same name that may exist in different modules do not collide.

Modules can have various functions and classes. A local namespace is created when a function is called, which has all the names defined in it. Similar, is the case with class. Following diagram may help to clarify this concept.

![Nested Namespaces in Python Programming](https://cdn.programiz.com/sites/tutorial2program/files/nested-namespaces-python.jpg "Different Nested Namespaces")

## Python Variable Scope

Although there are various unique namespaces defined, we may not be able to access all of them from every part of the program. The concept of scope comes into play.
Scope is the portion of the program from where a namespace can be accessed directly without any prefix.
At any given moment, there are at least three nested scopes.

1. Scope of the current function which has local names
2. Scope of the module which has global names
3. Outermost scope which has built-in names

When a reference is made inside a function, the name is searched in the local namespace, then in the global namespace and finally in the built-in namespace.
If there is a function inside another function, a new scope is nested inside the local scope.

In [0]:
**Example of Scope and Namespace in Python**

SyntaxError: invalid syntax (<ipython-input-106-ba57dbfa8e42>, line 1)

In [0]:
def outer_function():
    b = 20
    def inner_func():
        c = 30

a = 10

Here, the variable `a` is in the global namespace. Variable `b` is in the local namespace of `outer_function()` and `c` is in the nested local namespace of `inner_function()`.

When we are in `inner_function()`, `c` is local to us, `b` is nonlocal and `a` is global. We can read as well as assign new values to `c` but can only read `b` and `a` from `inner_function()`.

If we try to assign as a value to `b`, a new variable `b` is created in the local namespace which is different than the nonlocal `b`. Same thing happens when we assign a value to `a`.

However, if we declare `a` as global, all the reference and assignment go to the global `a`. Similarly, if we want to rebind the variable `b`, it must be declared as nonlocal. The following example will further clarify this

In [0]:
def outer_function():
    a = 20
    def inner_function():
        a = 30
        print('a =',a)

    inner_function()
    print('a =',a)
     
a = 10
outer_function()
print('a =',a)

a = 30
a = 20
a = 10

As you can see, the output of this program is

```
a = 30
a = 20
a = 10 
```

In this program, three different variables `a` are defined in separate namespaces and accessed accordingly. While in the following program,

In [0]:
def outer_function():
    global a
    a = 20
    def inner_function():
        global a
        a = 30
        print('a =',a)

    inner_function()
    print('a =',a)
     
a = 10
outer_function()
print('a =',a)

a = 30
a = 30
a = 30

The output of the program is.

```
a = 30
a = 30
a = 30 
```

Here, all reference and assignment are to the globaladue to the use of keyword `global`.